<ion-header>
  <ion-navbar>
    <ion-title>StoreMate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="danger" *ngFor="let shoppingList of localShoppingLists">

    <ion-item color="danger">
      <ion-avatar item-start>
        <img src="../../assets/imgs/avatar.png">
      </ion-avatar>
      <h2>{{shoppingList.owner.firstName}} {{shoppingList.owner.lastName}} needs your help</h2>
      <p>{{shoppingList.items.length}} Items from a {{TAGS[shoppingList.tag]}}.</p>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button clear color="light" (click)="gotoListDetail(shoppingList.id)">View details</button>
      </ion-col>
    </ion-row>

  </ion-card>


  <ion-card *ngIf="claimedShoppingList">
    <ion-card-header>
      <strong>Your current job</strong>
    </ion-card-header>

    <img src="{{getStaticMap(claimedShoppingList.owner.address)}}">

    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/imgs/avatar.png">
      </ion-avatar>
      <h2>{{claimedShoppingList.owner.firstName}} {{claimedShoppingList.owner.lastName}}</h2>
      <p>{{claimedShoppingList.owner.address.street}} {{claimedShoppingList.owner.address.houseNumber}}, {{claimedShoppingList.owner.address.zip}} {{claimedShoppingList.owner.address.city}}</p>
    </ion-item>

    <ion-item>
      <a ion-button icon-left clear item-left href="https://www.google.com/maps/dir//{{getAddressUriComponent(claimedShoppingList.owner.address)}}" target="_blank">
        <ion-icon name="navigate"></ion-icon>
        Navigate
      </a>
      <button ion-button icon-left clear item-end>
        <ion-icon name="checkmark"></ion-icon>
        Finish delivery
      </button>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <strong>Your Shoppinglists</strong>
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let list of shoppingLists" (click)="gotoList(list.id)">
        <ion-icon name="{{TAGS[list.tag].icon}}" item-start></ion-icon>
        <h2>{{TAGS[list.tag].name}}</h2>
        <p>({{list.items.length}} Items)</p>
      </button>
    </ion-list>
  </ion-card>
</ion-content>
